.parent-table {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.table-container {
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 28px 0 rgba(31, 38, 135, 0.30);
    background-color: #f9fafb;
    border-radius: 0.3rem;
}

.table-row {
    display: grid;
    justify-content: center;
    grid-template-columns: 10% 20% 10% 17% 17% 8% 10% 8%;
    width: 100%;
}

.table-row .table-content {
    width: 100%;
    box-sizing: border-box;
    padding: 0.8rem;
    text-align: left;
    font-size: 0.8rem;
}

.table-row.red {
    animation: decrease 1s;
}

.table-row.green {
    animation: increase 1s;
}

.table-row .table-content .black {
    color: #00000099;
}

.border-bottom {
    border-bottom: 1px solid rgba(34, 36, 38, .1);
}

.table-row .table-content img {
    width: 15%;
    aspect-ratio: 1/1;
}

.table-container .black {
    color: #00000099;
    font-size: 0.8rem;
}

.table-row .font {
    color: #000000c2;
    font-weight: 100;
    font-size: 0.9rem;
}

@keyframes decrease {
    0% {
        background-color: #fff;
    }

    50% {
        background-color: rgb(255, 179, 179);
    }

    100% {
        background-color: #fff;
    }
}

@keyframes increase {
    0% {
        background-color: #fff;
    }

    50% {
        background-color: rgb(195, 255, 179);
    }

    100% {
        background-color: #fff;
    }
}